<template>
  <div class="content full-page">
    <div>
      <Logo />
      <h1 class="title">WEB-UI-API-DB</h1>
      <div class="links">
        <nuxt-link to="/docs" class="bg-green-300 p-3 rounded-full mr-2"
          >Documentation
        </nuxt-link>
        <a
          href="https://gitlab.com/charlesbrandt/web-ui-api-db"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-gray-300 rounded-full p-3"
        >
          GitLab
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  layout: 'minimal',

  head() {
    return {
      title: this.$route.name,
    }
  },
})
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS */
.content {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}

/* .content {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
</style>
