<template>
  <div class="navbar-start flex flex-col md:flex-row">
    <nav-item to="/people">People</nav-item>
    <nav-item to="/projects">Projects</nav-item>
    <nav-item to="/about">About</nav-item>
    <nav-item to="/docs">Documentation</nav-item>
    <nav-external to="https://gitlab.com/charlesbrandt/web-ui-api-db/-/issues">
      Report an issue
    </nav-external>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>

<style scoped></style>
