<template>
  <div class="section full-page">
    <h1 v-if="error.statusCode === 404">Page not found</h1>
    <h1 v-else>An error occurred</h1>
    <NuxtLink to="/">Home page</NuxtLink>
  </div>
</template>

<script>
// https://nuxtjs.org/guides/directory-structure/layouts#error-page
export default {
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },

  layout: 'default', // you can set a custom layout for the error page
}
</script>
