<template>
  <div>
    <HeaderMinimal></HeaderMinimal>
    <Nuxt />
  </div>
</template>

<script>
export default {
  head: {
    bodyAttrs: {
      class: 'minimal',
    },
  },
}
</script>

<style></style>
