<template>
  <div>
    <Header></Header>
    <Nuxt />
    <Footer></Footer>
  </div>
</template>

<script>
export default {
  head: {
    bodyAttrs: {
      class: '',
    },
  },
}
</script>

<style></style>
