<template>
  <div class="section full-page">
    <h1>Docs</h1>
    <div v-for="content in everything" :key="content.slug">
      <NuxtLink :to="{ name: 'docs-slug', params: { slug: content.slug } }">
        <h3 v-if="content.title">
          {{ content.title }}
        </h3>
        <h3 v-else>
          {{ content.slug }}
        </h3>
      </NuxtLink>
    </div>
    <slot />
  </div>
</template>

<script>
export default {
  async fetch() {
    this.everything = await this.$content('/documentation', { deep: true })
      .fetch()
      .catch((err) => {
        console.log(err) // eslint-disable-line
        this.error({ statusCode: 404, message: 'Page not found' })
      })
    // console.log('Available Content: ', this.everything)
  },
  data() {
    return {
      everything: [],
      items: [{ name: 'One' }, { name: 'Two' }, { name: 'Three' }],
    }
  },
  computed: {},
  methods: {},
  head() {
    return {
      title: this.$route.name,
    }
  },
}
</script>

<style></style>
