<template>
  <div class="">
    <nav
      class="navbar bg-transparent bg-none"
      role="navigation"
      aria-label="main navigation"
    >
      <button
        class="menu h-16 w-16 z-50"
        :class="{ opened: isOpen }"
        :aria-expanded="isOpen"
        aria-label="Main Menu"
        @click="isOpen = !isOpen"
        @clicked="isOpen = false"
      >
        <svg width="100%" viewBox="0 0 100 100">
          <path
            class="line line1"
            d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"
          />
          <path class="line line2" d="M 20,50 H 80" />
          <path
            class="line line3"
            d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"
          />
        </svg>
      </button>

      <div v-if="isOpen" class="navbar-menu bg-white z-40 w-screen fixed">
        <div class="flex flex-row items-center h-16">
          <a class="responsive-logo" href="/">
            <div class="flex flex-row">
              <Logo width="60" height="40"></Logo>
              WEB UI<br />API DB
            </div>
          </a>
          <search></search>
        </div>

        <Navigation></Navigation>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div
      v-if="isOpen"
      class="navbar-backdrop fixed h-screen bg-gray-800 bg-opacity-50 top-16 left-0 right-0"
      @click="isOpen = false"
    ></div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      isOpen: false,
    }
  },
  computed: {},

  mounted() {
    this.$root.$on('navclick', (data) => {
      // console.log('TOGGLE MENU CALLED')
      this.isOpen = false
    })
  },

  methods: {},
}
</script>

<style>
.responsive-logo {
  border: 0px;
}
.menu {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.navbar-backdrop {
  /* top should be the same as the height of elements in top-bar */
  /* position: relative;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: opacity 0.2s ease;
  height: 100vh;
  z-index: 0; */
}
.navbar {
  /* &.is-transparent {
    background-color: transparent;
    background-image: none;
  } */
}
</style>
