<template>
  <div class="container is-widescreen">
    <div v-if="isOpen" class="navbar-backdrop" @click="isOpen = false"></div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand flex flex-row">
        <a class="navbar-item responsive-logo" href="/">
          <div class="flex flex-row">
            <Logo width="60" height="40"></Logo>
            WEB UI<br />API DB
          </div>
        </a>
        <div class="navbar-end pl-8">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light"> Log in </a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="navbar-menu"
        :class="{ 'is-active': isOpen }"
        @click="isOpen = false"
      >
        <Navigation></Navigation>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      isOpen: false,
    }
  },
}
</script>

<style>
/* .responsive-logo {
  border: 1px dashed #990000;
  @include until($desktop) {
    border-bottom: 1px solid green;
    width: '65px';
    height: '76px';
    max-height: '76px' !important;
  }
  @include from($tablet) {
    border-left: 2px solid yellow;
  }
  @include tablet {
    border-top: 2px solid orange;
  }
  @include widescreen-only {
    border-right: 2px solid blue;
  }
} */
</style>
