<template>
  <svg
    class="logo"
    :width="width"
    :height="height"
    viewBox="0 0 4320 4320"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g fill="none" stroke-width="270">
      <path
        d="M1117.3 197.788c-214.836 2.242-428.324 81.203-591.716 220.965-146.876 124.578-253.98 295.685-300.027 482.836-43.21 171.996-36.284 356.462 21.484 524.257 57.966 170.077 165.587 323.262 307.744 433.448 145.777 113.779 325.906 183.268 510.58 195.02 158.632 10.614 319.99-19.977 463.13-89.381 159.376-76.507 296.837-198.834 389.045-349.881 100.592-163.118 149.888-357.718 136.599-549.068-12.17-186.406-82.011-368.665-198.288-514.948-106.457-135.089-251.213-239.584-413.133-297.674-104.068-37.742-214.755-56.32-325.418-55.574z"
        stroke="#005692"
      />
      <path
        d="M1117.3 2326.405c-214.836 2.242-428.324 81.202-591.716 220.964-146.876 124.578-253.98 295.686-300.027 482.836-43.21 171.997-36.284 356.463 21.484 524.257 57.966 170.078 165.587 323.262 307.744 433.449 145.777 113.778 325.906 183.268 510.58 195.02 158.632 10.613 319.99-19.978 463.13-89.381 159.376-76.508 296.837-198.834 389.045-349.882 100.592-163.118 149.888-357.717 136.599-549.067-12.17-186.406-82.011-368.665-198.288-514.948-106.457-135.089-251.213-239.584-413.133-297.674-104.068-37.742-214.755-56.32-325.418-55.574z"
        stroke="#e38200"
      />
      <path
        d="M3246.01 197.788c-214.837 2.242-428.325 81.203-591.717 220.965-146.876 124.578-253.98 295.685-300.026 482.836-43.21 171.996-36.284 356.462 21.484 524.257 57.965 170.077 165.586 323.262 307.744 433.448 145.776 113.779 325.905 183.268 510.58 195.02 158.631 10.614 319.99-19.977 463.13-89.381 159.376-76.507 296.836-198.834 389.044-349.881 100.592-163.118 149.888-357.718 136.6-549.068-12.171-186.406-82.012-368.665-198.29-514.948-106.455-135.089-251.212-239.584-413.131-297.674-104.069-37.742-214.756-56.32-325.418-55.574z"
        stroke="#389000"
      />
      <path
        d="M3246.01 2326.405c-214.837 2.242-428.325 81.202-591.717 220.964-146.876 124.578-253.98 295.686-300.026 482.836-43.21 171.997-36.284 356.463 21.484 524.257 57.965 170.078 165.586 323.262 307.744 433.449 145.776 113.778 325.905 183.268 510.58 195.02 158.631 10.613 319.99-19.978 463.13-89.381 159.376-76.508 296.836-198.834 389.044-349.882 100.592-163.118 149.888-357.717 136.6-549.067-12.171-186.406-82.012-368.665-198.29-514.948-106.455-135.089-251.212-239.584-413.131-297.674-104.069-37.742-214.756-56.32-325.418-55.574z"
        stroke="#a700ca"
      />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: '245',
    },
    height: {
      type: String,
      default: '180',
    },
  },
  data() {
    return {
      items: [{ name: 'One' }, { name: 'Two' }, { name: 'Three' }],
    }
  },
}
</script>

<style>
.logo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
