<template>
  <a
    :href="to"
    class="md:w-min w-screen py-2 px-4 border-b border-gray-500 hover:bg-purple-300 hover:rounded-lg"
    @click="clicked"
  >
    <slot></slot>
  </a>
</template>

<script>
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
export default {
  props: {
    to: {
      type: String,
      default: '/',
    },
  },
  data() {
    return {
      search: '',
    }
  },
  computed: {},
  methods: {
    clicked(event) {
      // console.log('SEND CLICKED CALLED')
      // this.$root.$emit('navclick', event)
    },
  },
}
</script>

<style></style>
