<template>
  <form role="search" class="m-4">
    <div>
      <input
        id="siteSearch"
        v-model="search"
        type="search"
        name="q"
        class="bg-gray-100 rounded-lg p-4"
        placeholder="Search the site..."
        aria-label="Search through site content"
      />
      <button class="bg-green-400 rounded-lg border-2 border-green-600 p-2">
        Search
      </button>
    </div>
  </form>
</template>

<script>
// https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/search
export default {
  data() {
    return {
      search: '',
    }
  },

  computed: {},

  methods: {},
}
</script>

<style></style>
